.m1{

}

.m2{

}

.m3{

}
.m-auto{
    margin: auto;
}

.t-justify {
    text-align: justify;
}
.t-center {
    text-align: center;
}.t-right {
    text-align: right;
}


//Displays 
.d-flex{
    display: flex !important;
    &.justify-center{
        justify-content: center !important;
    }

    &.justify-end{
        justify-content: flex-end !important;
    }

    &.justify-start{
        justify-content: flex-start !important;
    }

    &.align-center{
        align-items: center !important;

    }

    &.align-end{
        align-items: flex-end !important;  
    }
    &.align-start{
        align-items: flex-start !important;
    }
}

.d-i-block{
    display: inline-block !important;
    
    &.va-top{
        vertical-align: top !important;
    }

    &.va-bottom{
        vertical-align: bottom !important;
    }

    &.va-baseline{
        vertical-align: baseline !important;
    }

}


//@at-root
.after-visible{
    &::after{
        width: 100% !important;
        transition: .2s;
    }
}

.after-hidden{
    &::after{
        width: 0 !important;
    }
}