.drawer{

}

.drawerHeader{
    // width: 95%;
    margin: 10px auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.drawerBody{
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    overflow-x: hidden;
    overflow-y: auto;
}


.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    transition: all .3s;
}