//Neue Plak

@font-face {
    font-family: 'Neue Plak Extended Semi';
    src: url('./fonts/NeuePlak/NeuePlak-ExtendedSemiBold.woff2') format('woff2'),
        url('./fonts/NeuePlak/NeuePlak-ExtendedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./fonts/NeuePlak/NeuePlak-Black.woff2') format('woff2'),
        url('./fonts/NeuePlak/NeuePlak-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Neue Plak Regular';
    src: url('./fonts/NeuePlak/NeuePlak-Regular.woff2') format('woff2'),
        url('./fonts/NeuePlak/NeuePlak-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./fonts/NeuePlak/NeuePlak-CondThin.woff2') format('woff2'),
        url('./fonts/NeuePlak/NeuePlak-CondThin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./fonts/NeuePlak/NeuePlak-ExtendedThin.woff2') format('woff2'),
        url('./fonts/NeuePlak/NeuePlak-ExtendedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



//AdihausDin Cn


// @font-face {
//     font-family: 'AdihausDIN Cn';
//     src: url('./fonts/AdihausDIN-CnBold.woff2') format('woff2'),
//         url('./fonts/AdihausDIN-CnBold.woff') format('woff'),
//         url('./fonts/AdihausDIN-CnBold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
