//btn

@mixin btnBehaviour($hover-bg:$btn-hover-bg-primary, $min-width:$btn-min-width, $padding:$btn-min-padding, $margin:$btn-min-margin) {
    min-width: $btn-min-width;
    padding: $padding;
    margin: $margin;
    
    &:hover{
        background: $hover-bg;
    }
}

//themes


@mixin theme-colors($light-theme:true) {
    @if $light-theme{
        @extend %theme-light-params;
    }
    @else{
        @extend %theme-dark-params;

    }
    
}