.filterArticlePage{
    display: flex;
    overflow: hidden;
    width: 100%;
    // width: min-content;

    .filtredArticles{
        margin-left: 256px;
        margin-top: 0;
        padding: 15px;
        flex: 1 1 ;
    }
}