.shopForOptions{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:1fr;
    gap:15px ;
    box-sizing: border-box;
    @media (max-width:960px) {
        grid-template-columns: 1fr; 
    }
    .shopFor{
        // display: inline-block;
        // width: 350px;
        // height: 350px;
        position: relative;
        font-family: $ff-text;
        & .cardModel{
            img{
                border-radius: 15px;
            }

        }

        .cardModel{
            &::before{
                @extend %darkenBackgound;
            }
        }



        
    }

}