.headerOtherIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    // flex: .6;
    font-size: 16.4px;

    .searchbar {
        button {
            border: none;
            box-shadow: none;
        }
        input {
            font-family: $ff-text;
            border: none;
            height: 100%;
        }
        svg {

            // transform: translate(-2px, 1px) rotate(-5deg);
            position: relative;

        }
       
    }

    svg {
        box-sizing: border-box;
        width: 30px !important;
        height: 30px !important;
        color: $cl-black !important;
        padding: 5px;

        &:hover {
            border-radius: 5px;
            cursor: pointer;
            background: rgba(0, 0, 0, .5) 50% 50%;
        }
    }

    @media(max-width:960px) {
        
        form.searchbar{
                float: right;
                label {
                    border: none;
                    justify-content: flex-end;
                }
          
                input {
                    display: none;
                }

        }
        justify-content: flex-end;
        gap: .7rem;
        flex: .3;
    }

}