.footer{
    background: $cl-black;
    background: $cl-black;
    padding: 15px;
    margin-top: $m-header;

    &__items{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        color: $cl-white;
        background: inherit;

        button{
            display: flex !important;
            justify-content: space-between !important;
            align-items: center;
            &>:nth-child(1){
                font-size: 18px;  
            }
        }
   
        div{
            width: 98%;
        }
        svg{
                margin-right: 5px;
        }

        .socialMedias{
            ul{
                display: flex;
                flex-direction: row !important;
            }
        }

        button{
            svg {
                display: none;
            }
        }

        @media(max-width:960px){
            flex-flow: column wrap;
            button {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                &:focus {
                    .toggleItem>svg {
                        transform: rotate(45deg);
                    }
                }
            
                .toggleItem>svg {
                    display: initial;
                    transition: transform .3s;
                }
            }
            
            button+ul{
                max-height: 0;
                opacity: 0;
                padding-left: 10px;
                padding-bottom: 10px;
                border-bottom: .1px solid $cl-gray;
                transition: opacity .2s ease, max-height .3s ease;
              
                &.visible{
                    max-height: 500px;
                    opacity: 1;
                }
            }
        }
    }

    .signature{
        margin-top: 15px;
        text-align: center;
    }
 
}