.header__menu,
.header__desktop {
    position: sticky;
    margin-bottom: .1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $bg-light;
    color: $cl-black;
    // font-family: $ff-h;
    letter-spacing: -.4px;
    font-size: $fs-l;
    max-height: 60px;
    z-index: 11 !important;
    color: $cl-white;
    background: $cl-darked-blue ;

    // box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .24), 1px 2px 2px 2px rgba(0, 0, 0, .05);

    @media(max-width:960px) {
        box-shadow: none;
        display: none;
    }

    top: 0;
    left: 0;
    transform: translateY(0);
    transition: .3s transform;

    &.n-show-header {
        transform: translateY(-100px);
    }

    &.show-header {
        position: fixed;

    }

    a,
    a:active,
    a:hover,
    a:focus,
    a:visited {
        // font-family: $ff-titles;
        font-family: sans-serif;
        color: inherit;
    }

    .brand {
        width: $w-brand-mobile;
        height: $w-brand-mobile;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 2rem;


        .menu__item {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border-width: 2px;
            cursor: pointer;
            // border: 1px solid;
            // border-top-color: linear-gradient(90deg, #040720 50%,white 50%);
            &:hover {
                border-bottom-style: solid;
                margin-bottom: -2px;
            }


            &:hover .submenus {
                opacity: 1;
                visibility: visible;

            }

            &:hover .submenus>div>h6 {
                transform: translateY(0);
            }

            &:hover .submenus>div>div>div {
                transform: translateY(0);
            }


            &>.submenus {
                position: absolute;
                color: $cl-black ;
                transform: translateY(60px) translateX(-50%);
                opacity: 0;
                left: 50%;
                top: 0px;
                width: 100%;
                margin: auto;
                text-align: center;
                padding-top: 2rem;
                background: $bg-light;
                visibility: hidden;
                transition: visibility .1s ease, opacity .2s;

                div>div>div,
                h6 {
                    transform: translateY(-10px);
                    transition: transform .4s ease;

                    &:hover a {
                        opacity: .65;
                    }
                }

                h6 {
                    transition: transform .3s ease;

                }

                .submenu__item {
                    display: inline-block;
                    vertical-align: top;
                    margin: 1.5rem 1.5rem;
                    text-align: justify;
                    font-size: 15px !important;

                    &__header {
                        font-size: $fs-l;
                        margin-bottom: 5px;
                        animation: header-sub-item-header-animation .2s;
                    }

                }

            }

            .options__item {
                font-size: 15px !important;

            }
        }
    }

}
.mobileApp{
    width: 100%;
    margin-top: 4rem;
    button{
        width: 100%;
        font-size: 18px;
        padding: 15px;
        
    }
}