.drawer{
    font-family:$ff-categories-header !important ;
    button:nth-child(1){
        border: none;
        box-shadow: none;
        &:focus{
            border: black 1px solid;
        }
    }
}

button{

}

.css-10hburv-MuiTypography-root , *{
    font-family:$ff-text !important ;
}